@page "/adminblankpage"

<PageTitle>Employees</PageTitle>

<div class="container-fluid w-100 center_item">
    <h1>You are not Authorized to View this Page</h1>
</div>

<style type="text/css">
    .center_item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
</style>